@use "../abstract/variaveis";
@use "../abstract/mixins";

#nosso-espaco {
  max-width: 1040px;
  @include mixins.margin-center(80%);
  .detalhes {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 3em;
    padding: 2em 0;
    .imgs-espaco {
      max-width: 500px;
    }
    .espaco-textos {
      @extend .imgs-espaco;
      .titulo {
        @include mixins.ff-fs-cl(
          variaveis.$ft-titulos,
          32px,
          variaveis.$cor-secundaria
        );
      }
      .infos {
        @include mixins.ff-fs-cl(
          variaveis.$ft-textos,
          22px,
          variaveis.$cor-primaria
        );
        margin-bottom: 16px;
      }
      .separador {
        width: 100%;
      }
    }
    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
}
