@use "../abstract/variaveis";
@use "../abstract/mixins";

#nosso-espaco {
  max-width: 1040px;
  @include mixins.margin-center(80%);
  .detalhes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    .imgs-espaco {
      max-width: 458px;
      img {
        width: 100%;
      }
    }
    .espaco-textos {
      max-width: 522px;
      .titulo {
        @include mixins.ff-fs-cl(
          variaveis.$ft-titulos,
          32px,
          variaveis.$cor-secundaria
        );
      }
      .infos {
        @include mixins.ff-fs-cl(
          variaveis.$ft-textos,
          22px,
          variaveis.$cor-primaria
        );
        margin-bottom: 16px;
      }
    }
  }
}
